$break-large: 992px;

/* header */
header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    height: 78px;
    #title {
        position: absolute;
        left: 10px;
        @media screen and (min-width: $break-large) {
            left: 50px;
        }
    }
    #link {
        position: absolute;
        right: 10px;
        top: 0;
        a {
            color: black;
        }
        @media screen and (min-width: $break-large) {
            right: 50px;
        }
    }
}

/* content */
#content {
    padding: 20px;
    @media screen and (min-width: $break-large) {
        padding: 100px;
    }
    padding-top: 70px;
    transition: opacity .25s;
}
h2 {
    border-bottom: 2px solid black;
}
h3 {
    border-bottom: 1px solid black;
}


