#container {
    display: grid;
    height: 100%;
    grid-template: 20% 70% / 100%;
    grid-template-areas: 
                         "toc"
                         "viewer";
    @media (min-aspect-ratio: 1/1) {
        grid-template: 50% 50% / 25% auto;
        grid-template-areas: "about viewer"
                             "toc   viewer";
        grid-gap: 10px 10px;
    }
}

.font1 {
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
.font2 {
    font-family: "Playfair Display", serif;
    font-weight: 700;
}
.font3 {
    font-family:"Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
}

p, table {
    font-family: "Source Sans Pro" sans-serif;
    font-weight: 400;
    font-style: normal;
}

#toc {
    grid-area: toc;
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
    font-size: 95%;
    margin-bottom: 1em;
    padding: 5px;
    @media (min-aspect-ratio: 1/1) {
        padding: 20px;
    }
    width: auto;
    .active {
        color: green;
    }
}

.toc_title {
    display: none;
    @media (min-aspect-ratio: 1/1) {
        display: block;
        font-weight: 700;
        text-align: center;
    }
}

#toc li, #toc ul, #toc ul li{
    list-style: outside none none !important;
    padding: 0;
    @media (max-aspect-ratio: 1/1) {
        display: inline;
        &:after {
            content: ' /';
        }
        &:last-child:after {
            content: '';
        }
    }
}

#viewer {
    border: 2px solid black;
    grid-area: viewer;
    overflow-y: scroll;
}

#about {
    grid-area: about;
    overflow-y: scroll;
}

#top {
    position: relative;
    left: 50%;
    width: 50%;
    height: 100%;
    font-size: calc(6.5vh - 18px);
    @media screen and (min-width: $break-large) {
        font-size: calc(8.5vh - 18px);
    }
}

.chapter_heading {
    margin: 20px 0;
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        top: 0;
        position: relative;
        @media screen and (min-width: $break-large) {
            width: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    table {
        width: 100%;
        float: right;
        font-size: 50%;
        @media screen and (min-width: $break-large) {
            width: 50%;
            font-size: 75%;
        }
        th {
            vertical-align: top;
            text-align: left;
            font-size: 200%;
        }
        td {
            min-width: 150px;
            vertical-align: top;
        }
    }
}

table {
    ul {
        padding: 0;
        list-style: none;
    }
    td {
        vertical-align: top;
    }
}

.section_header_wrapper {
    text-align: center;
    padding: 10px;
}
.section_header {
    background-color: #C5161C;
    font-weight: 800;
    color: white;
}

#chapter01 {
    background-color: #F2BDC0;
}
#chapter02 {
    background-color: #E28A8D;
}
#chapter03 {
    background-color: #D65B60;
}
#chapter04 {
    background-color: #D14549;
}
#chapter05 {
    background-color: #C5161C;
}

#chapter_4_bios {
    width: 50%;
    float: right;
}
#chapter_4_images {
    width: 50%;
    float: left;
}
#chapter_4_prototype_img {
    width: 100%;

    @media screen and (min-width: $break-large) {
        width: 50%;
        float: left;
    }
    img {width: 100%;}
}
#chapter_4_prototype {
    width: 100%;

    @media screen and (min-width: $break-large) {
        width: 50%;
        float: right;
    }
    table {
        max-width: 500px;
    }
}
#chapter_4_image {
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    width: 50%;
}
.chapter_4_bio {
    color: grey;
    border-bottom: 2px dashed grey;
    max-width: 500px;
}
.active_bio {
    color: black;
}
#chapter_4_bios div:last-child {
    border-bottom: none;
}
.scrollmagic-pin-spacer {float: left;}


#chapter_3_table {
    width: 100%;
    .insight {
        font-family: "Playfair Display", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 210%;
    }
    img {
        width: 100%;
    }
}

#citations {
    font-size: 75%;
    @media screen and (min-width: $break-large) {
        font-size: 100%;
    }
}
