/* front images */

.front__wrap {
    width: 100%;
    @media screen and (min-width: $break-large) {
        display: grid;
    }

    a:nth-of-type(2n) {
      background-position: left;
        .img__description_layer {
          float: right;
        }
    }

    a:nth-of-type(2n+1) {
      background-position: right;
        .img__description_layer {
          float: left;
        }
    }
}

.img__wrap {
  cursor: pointer;
  position: relative;
  display: inline-block;
  background-size: contain;
  background-color: #404040;
  background-repeat: no-repeat;
  height: calc(50vw - 20px);
  transition: opacity .5s, transform .5s;
  width: 100%;
    @media screen and (min-width: $break-large) {
      background-size: cover;
      background-position: center !important;
      margin: 8px;
      height: auto;
      width: auto;
    }
}
/*
.img__left {
    transform: translate(-100px, 0);
}
.img__right {
    transform: translate(100px, 0);
}
.img__top {
    transform: translate(0, -100px);
}
.img__bottom {
    transform: translate(0, 100px);
}
*/
.lazyload {
    opacity: 0;
}
.loaded {
   transform: none;
   opacity: 1;
}

.img__description_layer {
  width: 50%;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  background-color: #404040;
  justify-content: center;
    @media screen and (min-width: $break-large) {
      position: absolute;
      background: rgba(0,0,0,.4);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      visibility: hidden;
      opacity: 0;
      width: 100%;
      transition: opacity .2s, visibility .2s;
    }
}

.img__description {
    padding: 10px;
    text-align: center;
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: $break-large) {

#graphic__wrap {
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    height: calc(46vw - 101px);
    grid-template-areas: "a a c"
                         "d b e";
}

#social__wrap {
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 50% 50%;
    height: calc(46vw - 101px);
    grid-template-areas: "a b c"
                         "d b e";
}

.img__wrap:hover {
    .img__description_layer {
      visibility: visible;
      opacity: 1;
    }
    .img__description {
      transform: translateY(0);
    }
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

@media (hover: none) {
    .img__description_layer {
        visibility: visible;
        opacity: 1;
        background: none;
    }
    .img__description {
        transform: none;
        background-color: black;
        position: absolute;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 10px 0;
    }
}


}
