/* header */
header {
    position: fixed;
    z-index: 3;
    width: 100%;
    top: 0;
    left: 0;
    background-color: white;
    height: 70px;
}
header h1 {
    position: absolute;
    left: 50px;
}
header h2 {
    position: absolute;
    right: 50px;
    top: 0;
}

/* content */
#content {
    padding: 100px;
    padding-top: 70px;
}
h3 {
    border-bottom: 2px solid black;
}


/* front images */
.img__wrap {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.img__wrap img {
  max-width: 100%;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.4);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  /* transition effect. not necessary */
  transition: opacity .2s, visibility .2s;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: .2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}
