<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% include title.html %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/resources/css/style.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    </head>
    <body>
        <header>
            <h1>
                CHRISTINA YOO
            </h1>
            <h2>
                {% if page.frontpage %}<a href="/cv">CV</a>{% else %}<a href="/">HOME</a>{% endif %}
            </h2>
        </header>
        <div id="content">
            {{ content }}
        </div>
    </body>
</html>
